:host {
    --emoji-size: 1.375rem;
    --emoji-padding: 0.5rem;
    --category-emoji-size: var(--emoji-size);
    --category-emoji-padding: var(--emoji-padding);
    --indicator-height: 3px;
    --input-border-radius: 0.5rem;
    --input-border-size: 1px;
    --input-font-size: 1rem;
    --input-line-height: 1.5;
    --input-padding: 0.25rem;
    --num-columns: 8;
    --outline-size: 2px;
    --border-size: 1px;
    --skintone-border-radius: 1rem;
    --category-font-size: 1rem;
    display: flex;
    width: min-content;
    height: 400px
}

:host,
:host(.light) {
    --background: #fff;
    --border-color: #e0e0e0;
    --indicator-color: #385ac1;
    --input-border-color: #999;
    --input-font-color: #111;
    --input-placeholder-color: #999;
    --outline-color: #999;
    --category-font-color: #111;
    --button-active-background: #e6e6e6;
    --button-hover-background: #d9d9d9
}

:host(.dark) {
    --background: #222;
    --border-color: #444;
    --indicator-color: #5373ec;
    --input-border-color: #ccc;
    --input-font-color: #efefef;
    --input-placeholder-color: #ccc;
    --outline-color: #fff;
    --category-font-color: #efefef;
    --button-active-background: #555555;
    --button-hover-background: #484848
}

@media (prefers-color-scheme:dark) {
    :host {
        --background: #222;
        --border-color: #444;
        --indicator-color: #5373ec;
        --input-border-color: #ccc;
        --input-font-color: #efefef;
        --input-placeholder-color: #ccc;
        --outline-color: #fff;
        --category-font-color: #efefef;
        --button-active-background: #555555;
        --button-hover-background: #484848
    }
}

:host([hidden]) {
    display: none
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: 0 0;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent
}

button::-moz-focus-inner {
    border: 0
}

input {
    padding: 0;
    margin: 0;
    line-height: 1.15;
    font-family: inherit
}

input[type=search] {
    -webkit-appearance: none
}

:focus {
    outline: var(--outline-color) solid var(--outline-size);
    outline-offset: calc(-1*var(--outline-size))
}

:host([data-js-focus-visible]) :focus:not([data-focus-visible-added]) {
    outline: 0
}

:focus:not(:focus-visible) {
    outline: 0
}

.hide-focus {
    outline: 0
}

* {
    box-sizing: border-box
}

.picker {
    contain: content;
    display: flex;
    flex-direction: column;
    background: var(--background);
    border: var(--border-size) solid var(--border-color);
    width: 100%;
    height: 100%;
    overflow: hidden;
    --total-emoji-size: calc(var(--emoji-size) + (2 * var(--emoji-padding)));
    --total-category-emoji-size: calc(var(--category-emoji-size) + (2 * var(--category-emoji-padding)))
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.hidden {
    opacity: 0;
    pointer-events: none
}

.abs-pos {
    position: absolute;
    left: 0;
    top: 0
}

.gone {
    display: none !important
}

.skintone-button-wrapper,
.skintone-list {
    background: var(--background);
    z-index: 3
}

.skintone-button-wrapper.expanded {
    z-index: 1
}

.skintone-list {
    position: absolute;
    inset-inline-end: 0;
    top: 0;
    z-index: 2;
    overflow: visible;
    border-bottom: var(--border-size) solid var(--border-color);
    border-radius: 0 0 var(--skintone-border-radius) var(--skintone-border-radius);
    will-change: transform;
    transition: transform .2s ease-in-out;
    transform-origin: center 0
}

@media (prefers-reduced-motion:reduce) {
    .skintone-list {
        transition-duration: .001s
    }
}

@supports not (inset-inline-end:0) {
    .skintone-list {
        right: 0
    }
}

.skintone-list.no-animate {
    transition: none
}

.tabpanel {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    will-change: transform;
    min-height: 0;
    flex: 1;
    contain: content
}

.emoji-menu {
    display: grid;
    grid-template-columns: repeat(var(--num-columns), var(--total-emoji-size));
    justify-content: space-around;
    align-items: flex-start;
    width: 100%
}

.category {
    padding: var(--emoji-padding);
    font-size: var(--category-font-size);
    color: var(--category-font-color)
}

.custom-emoji,
.emoji,
button.emoji {
    height: var(--total-emoji-size);
    width: var(--total-emoji-size)
}

.emoji,
button.emoji {
    font-size: var(--emoji-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    line-height: 1;
    overflow: hidden;
    font-family: var(--font-family);
    cursor: pointer
}

@media (hover:hover)and (pointer:fine) {

    .emoji:hover,
    button.emoji:hover {
        background: var(--button-hover-background)
    }
}

.emoji.active,
.emoji:active,
button.emoji.active,
button.emoji:active {
    background: var(--button-active-background)
}

.custom-emoji {
    padding: var(--emoji-padding);
    object-fit: contain;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: var(--emoji-size) var(--emoji-size)
}

.nav,
.nav-button {
    align-items: center
}

.nav {
    display: grid;
    justify-content: space-between;
    contain: content
}

.nav-button {
    display: flex;
    justify-content: center
}

.nav-emoji {
    font-size: var(--category-emoji-size);
    width: var(--total-category-emoji-size);
    height: var(--total-category-emoji-size)
}

.indicator-wrapper {
    display: flex;
    border-bottom: 1px solid var(--border-color)
}

.indicator {
    width: calc(100%/var(--num-groups));
    height: var(--indicator-height);
    opacity: var(--indicator-opacity);
    background-color: var(--indicator-color);
    will-change: transform, opacity;
    transition: opacity .1s linear, transform .25s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .indicator {
        will-change: opacity;
        transition: opacity .1s linear
    }
}

.pad-top,
input.search {
    background: var(--background);
    width: 100%
}

.pad-top {
    height: var(--emoji-padding);
    z-index: 3
}

.search-row {
    display: flex;
    align-items: center;
    position: relative;
    padding-inline-start: var(--emoji-padding);
    padding-bottom: var(--emoji-padding)
}

.search-wrapper {
    flex: 1;
    min-width: 0
}

input.search {
    padding: var(--input-padding);
    border-radius: var(--input-border-radius);
    border: var(--input-border-size) solid var(--input-border-color);
    color: var(--input-font-color);
    font-size: var(--input-font-size);
    line-height: var(--input-line-height)
}

input.search::placeholder {
    color: var(--input-placeholder-color)
}

.favorites {
    display: flex;
    flex-direction: row;
    border-top: var(--border-size) solid var(--border-color);
    contain: content
}

.message {
    padding: var(--emoji-padding)
}